<kendo-grid
[data]="gridData"
[pageSize]="state.take"
[skip]="state.skip"
[sort]="state.sort"
[filter]="state.filter"
[sortable]="true"
[pageable]="true"
[filterable]="true"
(dataStateChange)="dataStateChange($event)"
>
<ng-template kendoGridToolbarTemplate>
  <input
    placeholder="Search ..."
    kendoTextBox
    (input)="onFilter($event.target.value)"
  />
  <!-- <kendo-grid-spacer></kendo-grid-spacer> -->

</ng-template>

<kendo-grid-command-column title="Action" width="40">
  <ng-template kendoGridCellTemplate let-dataItem>

    <button kendoGridEditCommand (click)=EditMovie(dataItem) [primary]="true">Edit</button>
  </ng-template>
</kendo-grid-command-column>
<kendo-grid-column [filterable]="true" field="Title" title="Title" width="40" >
</kendo-grid-column>
<kendo-grid-column [filterable]="true" field="Language" title="Language" width="40">
</kendo-grid-column>
<kendo-grid-column [filterable]="true" field="listingType" title="listingType" width="40">
</kendo-grid-column>
<kendo-grid-column [filterable]="true" field="imdbRating" title="imdbRating" width="40">
</kendo-grid-column>


</kendo-grid>
